<a href="https://colab.research.google.com/github/BHARGAVIGHEGDE/Machine_learning_projects/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
#importing dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [68]:
#loading the dataset
credit_card=pd.read_csv('/content/creditcard.csv')

In [69]:
#data processing
credit_card.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [70]:
credit_card.shape

(150632, 31)

In [71]:
credit_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150632 entries, 0 to 150631
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    150632 non-null  int64
 1   V1      150632 non-null  float64
 2   V2      150632 non-null  float64
 3   V3      150632 non-null  float64
 4   V4      150632 non-null  float64
 5   V5      150632 non-null  float64
 6   V6      150632 non-null  float64
 7   V7      150632 non-null  float64
 8   V8      150631 non-null  float64
 9   V9      150631 non-null  float64
 10  V10     150631 non-null  float64
 11  V11     150631 non-null  float64
 12  V12     150631 non-null  float64
 13  V13     150631 non-null  float64
 14  V14     150631 non-null  float64
 15  V15     150631 non-null  float64
 16  V16     150631 non-null  float64
 17  V17     150631 non-null  float64
 18  V18     150631 non-null  float64
 19  V19     150631 non-null  float64
 20  V20     150631 non-null  float64
 21  V21     150631 non-null  float64
 22  V22     150631 non-null  float64
 23  V23     150631 non-null  float64
 24  V24     150631 non-null  float64
 25  V25     150631 non-null  float64
 26  V26     150631 non-null  float64
 27  V27     150631 non-null  float64
 28  V28     150631 non-null  float64
 29  Amount  150631 non-null  float64
 30  Class   150631 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 35.6 MB

In [72]:
credit_card.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,150632.000000,150632.000000,150632.000000,150632.000000,150632.000000,150632.000000,150632.000000,150632.000000,150631.000000,150631.000000,...,150631.000000,150631.000000,150631.000000,150631.000000,150631.000000,150631.000000,150631.000000,150631.000000,150631.000000,150631.000000
mean,54357.441281,-0.241951,0.039563,0.626443,0.129322,-0.249922,0.071603,-0.103569,0.056875,-0.061859,...,-0.037507,-0.113436,-0.029578,0.012008,0.120494,0.022116,0.002128,0.002729,89.122363,0.001952
std,22079.490779,1.820806,1.612470,1.290487,1.341313,1.313190,1.288432,1.165148,1.234525,1.104036,...,0.730207,0.643498,0.585178,0.595973,0.444664,0.491852,0.389569,0.312561,242.890576,0.044136
min,0.000000,-56.407510,-72.715728,-33.680984,-5.519697,-42.147898,-26.160506,-31.764946,-73.216718,-9.283925,...,-34.830382,-10.933144,-44.807735,-2.836627,-10.295397,-2.534330,-22.565679,-11.710896,0.000000,0.000000
25%,39052.000000,-1.024734,-0.545888,0.121639,-0.727396,-0.883881,-0.673320,-0.597841,-0.138795,-0.698557,...,-0.228983,-0.552894,-0.170894,-0.326169,-0.152372,-0.326339,-0.061650,-0.007290,5.760000,0.000000
50%,55999.000000,-0.268150,0.117763,0.719971,0.153029,-0.289702,-0.186894,-0.052382,0.075683,-0.134145,...,-0.059901,-0.092302,-0.042652,0.066710,0.158329,-0.060874,0.011777,0.023250,22.790000,0.000000
75%,72876.000000,1.161285,0.801699,1.345372,0.978241,0.277716,0.459362,0.428349,0.372843,0.523337,...,0.115688,0.312921,0.087048,0.410613,0.414759,0.285424,0.089744,0.078069,79.375000,0.000000
max,93798.000000,2.401777,18.902453,9.382558,16.715537,34.801666,22.529298,36.677268,20.007208,15.594995,...,27.202839,10.503090,19.002942,4.022866,7.519589,3.517346,12.152401,33.847808,19656.530000,1.000000

In [73]:
credit_card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [74]:
credit_card=credit_card.dropna()

In [75]:
credit_card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [76]:
credit_card['Class'].value_counts()

#0->>normal Transactions
#1->>1 fradulent Transactions

0.0    150337
1.0       294
Name: Class, dtype: int64

In [77]:
#seperating the data for analysis
legit=credit_card[credit_card.Class==0]
fraud=credit_card[credit_card.Class==1]

In [78]:
legit.Amount.describe()

count    150337.000000
mean         89.060438
std         242.885780
min           0.000000
25%           5.800000
50%          22.800000
75%          79.150000
max       19656.530000
Name: Amount, dtype: float64

In [79]:
fraud.Amount.describe()

count     294.000000
mean      120.787653
std       243.689320
min         0.000000
25%         1.000000
50%        10.685000
75%       105.695000
max      1809.680000
Name: Amount, dtype: float64

In [80]:
#compare the values for both transactions
credit_card.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,54371.534506,-0.232065,0.032225,0.641204,0.120976,-0.243064,0.074549,-0.092698,0.054327,-0.057038,...,0.040169,-0.040026,-0.113084,-0.029453,0.012249,0.120349,0.022038,0.001146,0.002549,89.060438
1.0,47016.714286,-5.295684,3.789179,-6.914529,4.396624,-3.758181,-1.430356,-5.663365,1.360196,-2.526687,...,0.246076,1.250714,-0.293445,-0.093689,-0.111138,0.194626,0.062231,0.504392,0.094689,120.787653

In [81]:
#under-sampling
#build a sample dataset containing similar distribution of normal transactions  and fradulent transactins
legit_sample=legit.sample(n=294)

In [82]:
#concatenating 2 dataframes
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [83]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
79909,58233,1.262502,0.342965,-0.033075,1.132830,0.101369,-0.594041,0.356321,-0.248706,0.058142,...,-0.054511,0.023816,-0.226708,-0.080179,0.929772,-0.248507,0.012433,0.011398,12.21,0.0
55060,46756,-2.341655,-1.062407,1.422000,-3.327156,-0.471493,-0.818201,0.058092,0.647936,1.726162,...,0.106729,-0.083498,-0.014657,0.030767,0.930991,-1.076736,0.175816,-0.098543,169.72,0.0
144163,85905,1.177657,0.374575,-0.418778,0.733859,0.037357,-0.776832,0.095972,0.058815,-0.159963,...,-0.066357,-0.226931,-0.014974,0.087338,0.379445,0.374447,-0.032984,0.021200,0.76,0.0
15112,26465,1.120986,-0.513758,1.156314,-0.022351,-1.216208,-0.025045,-0.957002,0.246298,0.688350,...,0.245743,0.597199,-0.087159,0.078062,0.048622,1.113254,-0.043749,0.014987,48.94,0.0
37163,38832,1.168348,0.662272,0.334003,2.504959,0.081631,-0.692909,0.469409,-0.257796,-1.016832,...,-0.026985,-0.125331,-0.079375,0.404697,0.621518,0.001710,-0.027914,0.021171,26.76,0.0

In [84]:
new_dataset.shape

(588, 31)

In [85]:
new_dataset['Class'].value_counts()

0.0    294
1.0    294
Name: Class, dtype: int64

In [86]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,52391.265306,-0.406208,-0.020240,0.553658,0.046147,-0.329244,-0.094917,-0.255136,0.206762,-0.008416,...,0.026735,-0.043942,-0.153176,-0.053350,0.021887,0.091354,0.034845,-0.046426,0.009656,84.786973
1.0,47016.714286,-5.295684,3.789179,-6.914529,4.396624,-3.758181,-1.430356,-5.663365,1.360196,-2.526687,...,0.246076,1.250714,-0.293445,-0.093689,-0.111138,0.194626,0.062231,0.504392,0.094689,120.787653

In [87]:
#splitting the data into features and targets
x=new_dataset.drop(columns=['Class'],axis=1)
y=new_dataset['Class']

In [ ]:
print(x)

         Time        V1        V2        V3        V4        V5        V6  \
46076   42629  1.211549 -0.165301  1.040853  0.748805 -0.835772 -0.019663
97799   66389  0.994020 -0.284957  1.404978  1.877353 -1.071947  0.276025
70090   53704  1.422470 -0.362936 -0.084694 -0.568677 -0.893074 -1.612958
25378   33581 -1.682965  1.464167  0.748258  1.202856 -0.466555  0.130431
136661  81810  1.381278 -0.527645  0.373477 -0.854035 -0.911919 -0.588785
...       ...       ...       ...       ...       ...       ...       ...
149587  91524  1.954852  1.630056 -4.337200  2.378367  2.113348 -1.583851
149600  91554 -5.100256  3.633442 -3.843919  0.183208 -1.183997  1.602139
149869  92092 -1.108478  3.448953 -6.216972  3.021052 -0.529901 -2.551375
149874  92102 -1.662937  3.253892 -7.040485  2.266456 -4.177649 -0.746925
150601  93742 -3.291125  4.401194 -8.394212  4.453580 -4.790055 -4.240182

              V7        V8        V9  ...       V20       V21       V22  \
46076  -0.616143  0.090272  0.931573  ... -0.065594 -0.120338 -0.144298
97799  -0.546662  0.290931  1.341586  ... -0.231561 -0.375366 -0.703253
70090  -0.095647 -0.367120 -1.004360  ... -0.014926  0.199569  0.450836
25378   0.659007  0.257321  0.508707  ...  0.150174 -0.198353  0.192171
136661 -0.633397 -0.008316 -0.959843  ...  0.054308 -0.112746 -0.533347
...          ...       ...       ...  ...       ...       ...       ...
149587  0.653745 -0.192892  1.217608  ... -0.230640 -0.474437 -0.974625
149600 -3.005953 -8.645038  1.285458  ... -2.806302  8.280439 -2.797150
149869 -2.001743  1.092432 -0.836098  ... -0.068598  0.825951  1.144170
149874 -0.248337  1.091157 -0.307137  ... -0.842178  0.450381  0.521162
150601 -9.219001  1.974030 -2.912943  ...  1.490869  2.102343  0.597370

             V23       V24       V25       V26       V27       V28  Amount
46076  -0.035502 -0.072703  0.327090  0.346907  0.017273  0.023074   11.50
97799   0.138403  0.579081  0.316478 -0.541870  0.081876  0.036468   35.18
70090  -0.111274  0.736232  0.711025 -0.101949 -0.036099  0.003141   15.00
25378  -0.071916  0.066388 -0.063261 -0.310482 -0.296978 -0.534431   61.02
136661  0.103852 -0.034670  0.211997 -0.512363 -0.003365  0.007813   13.62
...          ...       ...       ...       ...       ...       ...     ...
149587 -0.048155 -0.023524  0.362192 -0.570709  0.025619  0.081880    1.00
149600  1.090707 -0.159260  0.532156 -0.497126  0.943622  0.553581  261.22
149869  0.208559 -0.295497 -0.690232 -0.364749  0.229327  0.208830   18.00
149874  0.308325 -0.318012 -1.255362 -0.691963  0.264878 -0.130445  600.73
150601 -0.328086  0.445752  0.585281 -0.399005  2.116004  1.050744    1.00

[588 rows x 30 columns]

In [88]:
print(y)

79909     0.0
55060     0.0
144163    0.0
15112     0.0
37163     0.0
         ...
149587    1.0
149600    1.0
149869    1.0
149874    1.0
150601    1.0
Name: Class, Length: 588, dtype: float64

In [89]:
#split the data into trining data and testing data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=3)

In [90]:
print(x_train.shape,x_test.shape)

(411, 30) (177, 30)

In [91]:
print(y_train.shape,y_test.shape)

(411,) (177,)

In [92]:
#training the model
model=LogisticRegression()

In [94]:
model.fit(x_train,y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [95]:
#finding the accuacy witth testing data
testing_accuracy=model.predict(x_train)
accuracy=accuracy_score(testing_accuracy,y_train)
print(accuracy)

0.9586374695863747