<a href="https://colab.research.google.com/github/BHARGAVIGHEGDE/Machine_learning_projects/blob/main/Fake_news_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```

```

1:Fake news
0>real news

In [ ]:
#importing the dependencies
import numpy as np
import pandas as pd
import re
from  nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
import nltk
nltk.download('stopwords')

In [ ]:
#data preprocessing
fake=pd.read_csv('train.csv', engine='python', encoding="ISO-8859-1", error_bad_lines=False)

In [ ]:
fake.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didnât Even See Comeyâs...,Darrell Lucus,House Dem Aide: We Didnât Even See Comeyâs...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [ ]:
fake.describe()

,id,title,author,text,label
count,21803,21198,19687,21690,21718
unique,20898,19873,4242,20417,19
top,1701,Schools All Over America Are Closing On Electi...,Pam Key,,1
freq,2,7,251,79,10879

In [ ]:
fake.shape

(21803, 5)

In [ ]:
fake.isnull().sum()

id           0
title      605
author    2116
text       113
label       85
dtype: int64

In [ ]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21803 entries, 0 to 21802
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      21803 non-null  object
 1   title   21198 non-null  object
 2   author  19687 non-null  object
 3   text    21690 non-null  object
 4   label   21718 non-null  object
dtypes: object(5)
memory usage: 851.8+ KB

In [ ]:
#replacing the null values with empty string
fake=fake.fillna('')

In [ ]:
#merging the author name and news title
fake['content']=fake['author']+':'+fake['title']

In [ ]:
print(fake['content'])

0        Darrell Lucus:House Dem Aide: We Didnât Even...
1        Daniel J. Flynn:FLYNN: Hillary Clinton, Big Wo...
2        Consortiumnews.com:Why the Truth Might Get You...
3        Jessica Purkiss:15 Civilians Killed In Single ...
4        Howard Portnoy:Iranian woman jailed for fictio...
                               ...
21798    Jerome Hudson:Rapper T.I.: Trump a âPoster C...
21799    Benjamin Hoffman:N.F.L. Playoffs: Schedule, Ma...
21800    Michael J. de la Merced and Rachel Abrams:Macy...
21801    Alex Ansary:NATO, Russia To Hold Parallel Exer...
21802              David Swanson:What Keeps the F-35 Alive
Name: content, Length: 21803, dtype: object

In [ ]:
x = fake['content'].values
y = fake['label'].values

In [ ]:
print(x)

['Darrell Lucus:House Dem Aide: We Didnâ\x80\x99t Even See Comeyâ\x80\x99s Letter Until Jason Chaffetz Tweeted It'
 'Daniel J. Flynn:FLYNN: Hillary Clinton, Big Woman on Campus - Breitbart'
 'Consortiumnews.com:Why the Truth Might Get You Fired' ...
 'Michael J. de la Merced and Rachel Abrams:Macyâ\x80\x99s Is Said to Receive Takeover Approach by Hudsonâ\x80\x99s Bay - The New York Times'
 'Alex Ansary:NATO, Russia To Hold Parallel Exercises In Balkans'
 'David Swanson:What Keeps the F-35 Alive']

In [ ]:
print(y)

['1' '0' '1' ... '0' '1' '1']

In [ ]:
#converting the textual data to numerical data
vectorizer=TfidfVectorizer()
vectorizer.fit(x)
x=vectorizer.transform(x)

In [ ]:
print(x)

  (0, 25982)	0.18166335939070452
  (0, 25191)	0.2608276226929919
  (0, 24793)	0.342885300460925
  (0, 21289)	0.21930856473268864
  (0, 14342)	0.29784492157888187
  (0, 13906)	0.2446703588134178
  (0, 12672)	0.20114565588334526
  (0, 12558)	0.16057112123823733
  (0, 11515)	0.18221980095452714
  (0, 8364)	0.22575990542436408
  (0, 6810)	0.24399721989383644
  (0, 6431)	0.2446703588134178
  (0, 6110)	0.2948286230245799
  (0, 4990)	0.26424010344648446
  (0, 4253)	0.30114890282248763
  (0, 975)	0.25976090575595207
  (1, 26419)	0.3026260904757769
  (1, 16864)	0.15761695308194226
  (1, 11224)	0.191202222682647
  (1, 9317)	0.7016140882942715
  (1, 6069)	0.2614619628975451
  (1, 4752)	0.19472555310805073
  (1, 3859)	0.3769076126757565
  (1, 3379)	0.15219222647138084
  (1, 2784)	0.28853336938038443
  :	:
  (21800, 12501)	0.11964198299957299
  (21800, 11562)	0.3540028585706694
  (21800, 6172)	0.19482715948898652
  (21800, 3740)	0.13785686807667752
  (21800, 2479)	0.2986700299350304
  (21800, 1596)	0.2924017748002888
  (21800, 1337)	0.0939872888398623
  (21800, 575)	0.27156269285138823
  (21801, 24215)	0.10971226442523865
  (21801, 20687)	0.21381148717731224
  (21801, 17393)	0.43250046991212715
  (21801, 16118)	0.3042479454320203
  (21801, 11949)	0.12319809614682262
  (21801, 11330)	0.3374660517340987
  (21801, 8478)	0.43250046991212715
  (21801, 2255)	0.43250046991212715
  (21801, 1435)	0.2948560369950041
  (21801, 1095)	0.2692766156647696
  (21802, 26134)	0.270766394483385
  (21802, 23962)	0.10098722508946864
  (21802, 23441)	0.4467861481816122
  (21802, 13121)	0.456810462940429
  (21802, 6142)	0.2977458432642259
  (21802, 1131)	0.4467861481816122
  (21802, 286)	0.4689595178054284

In [ ]:
 #splitting data into training and test data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [ ]:
#training the model:Logistic Regression model
model=LogisticRegression()

In [ ]:
model.fit(x_train,y_train)

LogisticRegression()

In [ ]:
#finding the accuracy score
accuracy_training_score=model.predict(x_train)
train=accuracy_score(accuracy_training_score,y_train)
print(train)

0.9902534113060428

In [ ]:
accuracy_testing_score=model.predict(x_test)
test=accuracy_score(accuracy_testing_score,y_test)
print(test)

0.9750057326301307

In [102]:
#making a prediction system
input=x_test[0]
predict=model.predict(input)
if(predict==0):
  print("the news is not fake")
else:
  print("the news is fake")

the news is fake